@use 'variables';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: variables.$bg-black;
}
a{
    text-decoration: none;
    color:variables.$text-white;
}

a:hover{
    color: variables.$text-white;
}